@model List<SJModel.Data.Category>
<html>

<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>

    <link href="~/Content/Semantic_UI/semantic.min.css" rel="stylesheet" />
    <script src="~/Scripts/Plugins/waitscreen.js"></script>

    <script src="~/Scripts/Pages/Category/Category.js"></script>

</head>

<body>
    <div class="ui container">
        <div class="ui segment">
            <div class="ui header">
                Logo comes here
            </div>
            <div>
                Menu Comes Here
            </div>
            <div><br /></div>
            <div><br /></div>
            <div class="ui blude button" onclick="displayCreateCategoryModal()">Create New Category </div>
            <table class="ui table">
                <thead>
                    <tr>
                        <th class="four wide center aligned">
                            Category Name
                        </th>

                        <th class="four wide center aligned">
                            Category Content
                        </th>

                        <th class="four wide center aligned">
                            Category Order
                        </th>

                        @*<th class="four wide center aligned">
                            Sub Categories
                        </th>*@
                        <th class="four wide center aligned">
                            Action
                        </th>

                    </tr>
                </thead>
              @if (Model != null && Model.Count > 0)
              {
                  <tbody>
                                      @foreach (var category in Model)
                {
                                          <tr>
                                        
                                              <td class="four wide center aligned">
                                                @category.ProductCategoryName
                                              </td>

                                              <td class="four wide center aligned">
                                                  @category.Content
                                              </td>

                                              <td class="four wide center aligned">
                                                 @category.CategoryOrder
                                              </td>

                                              @*<td class="four wide center aligned">
                                                  Sub Categories
                                              </td>*@
                                              <td class="four wide center aligned">
                                                  <i class="edit icon" onclick="editCategory(@category.ProductCategoryId)"></i>
                                                  <i class="delete icon" onclick="deleteCategory(@category.ProductCategoryId)"></i>
                                              </td>

                    </tr>
                }
                </tbody>
              }
              
            </table>
        </div>


        <div class="ui small modal" id="">
            <div class="header">
                Category
            </div>
            <div class="content">
                <div class="ui hidden message" id="categoryMessageBoard">
                </div>
                <div class="ui form">

                    <div class="two fields">

                        <div class="field">
                            <label>Name :</label>
                        </div>
                        <div class="field">
                            <input type="text" id="txtCategoryName" value="" />
                        </div>

                    </div>
                    <div class="two fields">

                        <div class="field">
                            <label>Content :</label>
                        </div>
                        <div class="field">
                            <textarea  id="txtCategoryContent" rows="2" ></textarea>
                        </div>

                    </div>
                    <div class="two fields">

                        <div class="field">
                            <label>Category Order :</label>
                        </div>
                        <div class="field">
                            <select class="ui dropdown" id="categoryOrderDropDown">
                                <option value="0">Select</option>
                                @for (int a = 1; a < 20; a++)
                                {
                                    <option value="@a">@a</option>
                                }
                            </select>
                        </div>
                        <input type="hidden" id="hdnCategoryId" value="0" />
                    </div>

                </div>
            </div>
            <div class="actions">
                <div class="ui button" onclick="saveCategory()">Save</div>
                <div class="ui cancel button">Cancel</div>
            </div>
        </div>
   
    </div>
</body>
</html>