@model  List<SJModel.Data.Product>
<html>

<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/semantic.js"></script>
    <script src="~/Scripts/Pages/Product/ProductMgmt.js"></script>

    <link href="~/Content/Semantic_UI/semantic.min.css" rel="stylesheet" />
   
</head>

<body>

    <div class="container">
        <div class="ui segment white">
            <div class="ui label">
                Put menu and other logo parts here
            </div>
        </div>

       
    
            <div class="ui segment white">
                <div class="ui header">
                    Product Items
                </div>
                <div class="ui segment white">
                    <div class="ui blude button" onclick="createNewProduct()">Create New Product </div>
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                @*<th class="center aligned">
                                    Creation Date
                                </th>*@

                                <th class="center aligned">
                                    ProductCode
                                </th>

                                @*<th class="center aligned">
                                    Category
                                </th>*@
                                @*<th class="center aligned">
                                    Sub Categories
                                </th>*@
                                @*<th class="center aligned">
                                Master Weight 
                                </th>*@
                                <th class="center aligned">
                                    Wax Weight
                                </th>
                                <th class="center aligned">
                                    Total Finding Wt
                                </th>
                                <th class="center aligned">
                                    Total Stone Wt
                                </th>
                                <th class="center aligned">
                                    Total Stone Disc
                                </th>
                                
                                <th class="center aligned">
                                    Available for B2B
                                </th>
                                <th class="center aligned">
                                    Available for B2B Excl
                                </th>
                                <th class="center aligned">
                                    Available for B2C
                                </th>


                                @*<th class="center aligned">
                                Gold type
                                </th>*@


                                <th class="center aligned">
                                    Gross weight 14Kt
                                </th>
                                <th class="center aligned">
                                    Gross weight 18Kt
                                </th>
                                <th class="center aligned">
                                    Gross weight 22Kt
                                </th>


                                <th class="center aligned">
                                    Net weight 14Kt
                                </th>
                                <th class="center aligned">
                                    Net weight 18Kt
                                </th>
                                <th class="center aligned">
                                    Net weight 22Kt
                                </th>

                                <th class="center aligned">
                                    Action
                                </th>

                            </tr>
                        </thead>
                        @if (Model != null && Model.Count > 0)
                        {
                            <tbody>
                                @foreach (var product in Model)
                {
                                    <tr>

                                
                                        @*<th class="center aligned">
                                            @product.CreatedDate
                                        </th>*@

                                        <td class="center aligned">
                                            @product.ProductCode
                                        </td>

                                        @*<th class="center aligned">
                                            @product.SubCategoryId
                                        </th>*@
                                        @*<th class="center aligned">
                                            Sub Categories
                                        </th>*@
                                        @*<th class="center aligned">
                                            @product.MasterWeight
                                        </th>*@
                                        <td class="center aligned">
                                            @product.WaxWeight
                                        </td>
                                        <td class="center aligned">
                                            @product.TotalFindingWeight
                                        </td>
                                        <td class="center aligned">
                                            @product.TotalStoneWeight
                                        </td>
                                        <td class="center aligned">
                                            @product.TotalStoneDiscount
                                        </td>

                                        <td class="center aligned">
                                            @product.DisplayForB2B
                                        </td>
                                        <td class="center aligned">
                                            @product.DisplayForB2BExclusive
                                        </td>
                                        <td class="center aligned">
                                            @product.DisplayForB2C
                                        </td>


                                        @*<th class="center aligned">
                                            Gold type @
                                        </th>*@


                                        <td class="center aligned">
                                            @product.GrossWeight_14KT

                                        </td>
                                        <td class="center aligned">
                                            @product.GrossWeight_18KT
                                        </td>
                                        <td class="center aligned">
                                            @product.GrossWeight_22KT
                                        </td>


                                        <td class="center aligned">
                                            @product.NetWeight_14KT
                                        </td>
                                        <td class="center aligned">
                                            @product.NetWeight_18KT
                                        </td>
                                        <td class="center aligned">
                                            @product.NetWeight_22KT
                                        </td>

   
                                        <td>
                                            <i class="edit icon" onclick="editProduct(@product.ProductId)"></i>
                                            <i class="delete icon" onclick="deleteProduct(@product.ProductId)"></i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }

                    </table>
                          
                </div>
            </div>
    


    </div>

</body>
</html>

